html,
body {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Operator Mono SSm A", "Operator Mono SSm B", "Fira Code", monospace;
  font-style: normal;
  font-weight: 400;
}

a {
  color: inherit;
}

p {
  margin: 0;
}

#root,
canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  box-sizing: border-box;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.content,
.footer {
  pointer-events: all;
  -webkit-overflow-scrolling: touch;
  padding: 80px 40px;
  max-width: 400px;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.content > * + * {
  margin-top: 1rem;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.footer > * + * {
  margin: 0 10px;
}


.demos {
  position: relative;
  padding-top: 20px;
  padding-bottom: 0;
  margin-top: 20px;
}

.demos::before {
  content: "Demos";
  opacity: 0.6;
  margin-right: 10px;
  display: inline-block;
}

.demos::after {
  content: "";
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
}

.demos > * {
  text-decoration: underline;
  cursor: pointer;
  margin: 0 10px;
  display: inline-block;
}

.demos > * + * {
  margin-top: 0.25rem;
}

/* dat.GUI */
.dg.ac {
  z-index: 1000 !important;
}

.dg .c .slider {
  width: 60%;
}

.dg .dg.main .close-button {
  height: 40px;
  line-height: 39px;
}
